{% extends "baseerror.html.twig" %}
{% block title %}
    Seite nicht gefunden
{% endblock %}
{% block body %}
    <div>
        <h1>
            Seite nicht gefunden
        </h1>
    </div>
{% endblock %}